.page-header .breadcrumb-line:first-child {
    margin-top: 20px !important;;
    margin-bottom: 20px !important;
}
.entry:not(:first-of-type) {
    margin-top: 10px;
}
.glyphicon {
    font-size: 12px;
}
body .modal-header {
    padding: 15px 20px;
}
body .bootstrap-dialog .modal-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
body .modal-header .close {
    margin-top: -9px;
}

.daterangepicker.dropdown-menu{
    z-index: 2000;
}
.daterangepicker.single .calendar, .daterangepicker.single .ranges {
    float: right;
    width: 100%
}

.ranges .daterangepicker-inputs{
    display: none;
}

.daterangepicker.opensright .calendars {
    float: none;
}
.popover{
    max-width: none;
}


.brand-image{
    width: 100px;
}
.fancytree-container {
    overflow: visible !important;
}
.fancytree-container ul.dropdown-menu {
    padding: 0;
}
#categories-tree,
#comments-categories-tree {
    padding: 15px 10px;
}
.fancytree-title {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.fancytree-container .buttons {
    margin-top: 4px;
    position: absolute;
    top: 4px;
    right: 5px;
}
.fancytree-node {
    padding: 3px 35px 0 3px;
}
.fancytree-active {
    background-color: #ddd;
    border-radius: 2px;
}
.daterangepicker.dropdown-menu{
    z-index: 2000;
}

.modal-results-container {
    top: 62px !important;
    left: 0 !important;
}
.gallery-bar,
.options-bar {
    text-align: right;
    border-top: 1px solid #bbb;
    padding-top: 15px;
}
.ui-sortable tr {
    cursor: move;
}
tr.ui-state-highlight {
    height: 50px;
    background: #ddd;
    border: none;
}
.status-color {
    display: inline-block !important;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 4px !important;
    float: none !important;
    vertical-align: top;
}
[aria-labelledby="select2-sort-order-container"] {
    height: 67px !important;
}
.marge-class{
    margin-right: 10px;
}
#products .checkbox-inline .checker{
    top: -10px;
}
.daterangepicker{
    width: 780px!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%)!important;
}

.navigation li a {
    position: relative;
}

.navigation li a > span {
    display: block;
    padding-left: 31px;
}

.navigation li a > i {
    position: absolute;
    top: 0;
    line-height: 40px;
    left: 22px;
}

.navigation li li li i {
    left: 72px;
}

.datatable-scroll {
    min-height: 450px;
}

@media (max-width: 767px) {

    .heading-elements {
        position: static;
        display: block;
        margin-top: 15px;
    }

    .btn {
        float: none !important;
    }
}

.modal-body .token .close{
    margin-top: -8px !important;
}

.image-circle {
  border-radius: 50%;
}
